<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="Contracts.CustomDeviceRepository.ICustomDeviceRepository,Contracts.CustomDeviceRepository" mapTo="DataAccessLayer.CustomDeviceRepoLib.CustomDeviceRepository,DataAccessLayer.CustomDeviceRepoLib"/>
      <register type="Contracts.DeviceRepository.IDeviceRepository,Contracts.DeviceRepository" mapTo="DataAccessLayer.DeviceRepositoryLib.DeviceRepository,DataAccessLayer.DeviceRepositoryLib"/>
      <register type="Contracts.PatientRepository.IPatientRepository,Contracts.PatientRepository" mapTo="DataAccessLayer.PatientRepositoryLib.PatientRepository,DataAccessLayer.PatientRepositoryLib"/>
      <register type="Contracts.HospitalBedRepository.IHospitalBedRepository,Contracts.HospitalBedRepository" mapTo="DataAccessLayer.HospitalBedRepoLib.HospitalBedRepository,DataAccessLayer.HospitalBedRepoLib"/>
      <register type="Contracts.AdmissionRepository.IAdmissionRepository,Contracts.AdmissionRepository" mapTo=" DataAccessLayer.AdmissionRepositoryLib.AdmissionRepository, DataAccessLayer.AdmissionRepositoryLib"/>
    </container>
  </unity>
</configuration>
