<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="Contracts.CustomDeviceRepository.ICustomDeviceRepository,Contracts.CustomDeviceRepository" mapTo="DataAccessLayer.CustomDeviceRepoLib.CustomDeviceRepository,DataAccessLayer.CustomDeviceRepoLib"/>
      <register type="Contracts.DeviceRepository.IDeviceRepository,Contracts.DeviceRepository" mapTo="DataAccessLayer.DeviceRepositoryLib.DeviceRepository,DataAccessLayer.DeviceRepositoryLib"/>
      <register type="Contracts.PatientRepository.IPatientRepository,Contracts.PatientRepository" mapTo="DataAccessLayer.PatientRepositoryLib.PatientRepository,DataAccessLayer.PatientRepositoryLib"/>
      <register type="Contracts.HospitalBedRepository.IHospitalBedRepository,Contracts.HospitalBedRepository" mapTo="DataAccessLayer.HospitalBedRepoLib.HospitalBedRepository,DataAccessLayer.HospitalBedRepoLib"/>
      <register type="Contracts.AdmissionRepository.IAdmissionRepository,Contracts.AdmissionRepository" mapTo=" DataAccessLayer.AdmissionRepositoryLib.AdmissionRepository, DataAccessLayer.AdmissionRepositoryLib"/>
    </container>
  </unity>
  <system.serviceModel>
    <services>
      <service name="Controllers.PatientAdmissionService.PatientAdmissionService" behaviorConfiguration="mexBehaviour">
        <endpoint address="PatientAdmissionService" binding="webHttpBinding" contract="Controllers.PatientAdmissionService.IPatientAdmissionService" behaviorConfiguration="Web"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="Web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>