<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IAdditionalNurseDataService" />
                <binding name="WSHttpBinding_IAdditionalDoctorDataService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52320/AdditionalNurseDataService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAdditionalNurseDataService"
                contract="AdditionalNurseDataService.IAdditionalNurseDataService"
                name="WSHttpBinding_IAdditionalNurseDataService">
            </endpoint>
            <endpoint address="http://localhost:52330/DoctorMonitoringService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAdditionalDoctorDataService"
                contract="AdditionalDoctorDataService.IAdditionalDoctorDataService"
                name="WSHttpBinding_IAdditionalDoctorDataService">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>